*.sdf
*.suo
/Tests/CollisionLib/Dreary
/Debug
ipch
/Release
/Scene3D/Debug
/Scene3D/Release
*.opensdf
*.user
/AssetCompiler/Debug
/AssetCompiler/Release
/AssetCompiler/x64
/Scene3D/x64
/x64
/Editors/Debug
/Editors/Release
/Editors/x64
/ModelEditor/Debug
/ModelEditor/Release
/ModelEditor/x64
/ModelEditor/*.aps
/MapEditor/Debug
/MapEditor/Release
/MapEditor/x64
/MapEditor/*.aps
/ShooterGame/Debug
/ShooterGame/Release
/ShooterGame/*.aps
/ShooterGame/x64
/ShooterGame/Resources/Assets
/AssetCompilerTool/Debug
/AssetCompilerTool/Release
