*.sdf
*.suo
/Tests/CollisionLib/Dreary
/Debug
ipch
/Release
/Scene3D/Debug
/Scene3D/Release
/Utilities/FBXViewer/Resources/Thalania
/Utilities/FBXViewer/Debug
/Utilities/FBXViewer/Release
*.opensdf
*.user
/AssetCompiler/Debug
/AssetCompiler/Release
/AssetCompiler/x64
/Scene3D/x64
/Utilities/FBXViewer/x64
/x64
/ModelEditor/x64
/ModelEditor/*.aps
