*.sdf
*.suo
/Tests/CollisionLib/Dreary
/Debug
ipch
/Release
/Scene3D/Debug
/Scene3D/Release
/Utilities/FBXViewer/Resources/Thalania
/Utilities/FBXViewer/Debug
/Utilities/FBXViewer/Release
*.opensdf
*.user
